div {
  text-align: center;
}

.big-icon {
  font-size: 200px;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Oswald', sans-serif;
}

.flash {
  -webkit-animation: flash 5s; /* Safari 4+ */
  -moz-animation:    flash 5s; /* Fx 5+ */
  -o-animation:      flash 5s; /* Opera 12+ */
  animation:         flash 5s; /* IE 10+, Fx 29+ */
}