body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

body {
  background-color: #E3D9D2;
}

/* adds futura typeface to everything */
h1 { font-family: Futura, Trebuchet MS, Arial, sans-serif; font-size: 24px; color: #726965; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h3 { font-family: Futura, Trebuchet MS, Arial, sans-serif; font-size: 20px; color: #726965; font-style: normal; font-variant: normal; font-weight: 400; line-height: 25px;}
h4 { font-family: Futura, Trebuchet MS, Arial, sans-serif; font-size: 15px; color: #C9604C; font-style: normal; font-variant: normal; font-weight: 600; line-height: 20px; text-transform:uppercase;}
p { font-family: Futura, Trebuchet MS, Arial, sans-serif; font-size: 15px; color: #726965; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
blockquote { font-family: Futura, Trebuchet MS, Arial, sans-serif; font-size: 15px; color: #726965; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; border-left: none;}
pre { font-family: Futura, Trebuchet MS, Arial, sans-serif; font-size: 13px; color: #726965; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }

.orangeText {
    color: #C9604C;
}

.noLineHeight {
    line-height: 0px;
}

.link {
  color: #21B7A6;
  text-decoration: underline;
}

.link:hover {
  color: #daf4f1
}

.lightText {
  color:#948b87;
}

/*highlight test: #C9604C, link color: #21B7A6, text color: #726965, bg color, #E3D9D2*/

.super-center {
        width: 500px;
        height: 600px;
        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
    }
